@import "@wearegenki/css/src/_variables-colour";
@import "@wearegenki/css/src/_variables";
@import "_variables";
@import "@wearegenki/css/src";

/* App */

.alpha {
  opacity: 0.4;
}

.col-symbol {
  min-width: 9rem;
}

.col-price {
  min-width: 15rem;
}

tbody {
  font-size: 1.8rem;
}

td {
  padding: 0.1rem 0;
}

.btn-info {
  font-size: 1.3rem;
}
