@import "@wearegenki/css/src/_variables-colour";
@import "@wearegenki/css/src/_variables";
@import "_variables";
@import "@wearegenki/css/src";

/* App */

.col-symbol {
  min-width: 7rem;
}

.col-price {
  min-width: 11rem;
}

.btn-info {
  font-size: 1.5rem;
}

footer {
  color: var(--footer-font-colour);
}
